/* $Id$ */

.lenses tr td {
  vertical-align: top;
}

.lenses-label {
  background-color: #eee;
  color: black;
  font-weight: bold;
}

.lenses-description {
  font-size: 0.8em;
}

.lenses-disabled {
  color: red;
  font-weight: bold;
}

.lenses-group {
  color: blue;
  font-weight: bold;
}

.lenses-hidden {
  color: brown;
  font-weight: bold;
}

.lenses-removed {
  color: red;
  font-style: italic;
}
